<!--include header-->
<%- include('./partials/header') %>
    <h1>Hello ji</h1>
<button id="btn">Click me</button>
    <p>
        kaise ho bhai logg 
    </p>


<!--include footer-->
<%- include('./partials/footer') %>