<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ye html nahi bhai ejs hai...</h1>
    <p>
        hello ejs khana kha ke jana reee 
    </p>
    <!--in ejs you can write js as well-->
</body>
</html>